<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441142061635-0ffq5b83us4k32kuh33fcihrdsrh63db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441142061635-0ffq5b83us4k32kuh33fcihrdsrh63db</string>
	<key>API_KEY</key>
	<string>AIzaSyCpdwrrzpTgzjR5uA00pk0HuK7tLRtI8VE</string>
	<key>GCM_SENDER_ID</key>
	<string>441142061635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skylineuniversity.skyline</string>
	<key>PROJECT_ID</key>
	<string>skyline-9704e</string>
	<key>STORAGE_BUCKET</key>
	<string>skyline-9704e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441142061635:ios:69f573e2f4ae1efbea02f6</string>
	<key>DATABASE_URL</key>
	<string>https://skyline-9704e.firebaseio.com</string>
</dict>
</plist>